@tailwind base;
@tailwind components;
@tailwind utilities;


.marked-checkbox {
    position: relative;
}

.marked-checkbox:checked::after {
    content: '';
    background-image: url('/check.svg');
    background-size: 1rem 1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: transparent;
}